{{#import 'intro.md'}} {{/import}}

### <a name='classes'>API</a>

{{>summary}}

{{#each classes as |klass|}}
  {{~> class klass=klass}}
  {{#unless @last}}
<hr/>
{{/unless}}
{{/each}}


{{#import 'appendix.md'}} {{/import}}
