## API

{{! emit a class list }}
<a name="classes">**Classes**</a>
{{#each classes}}
* <code>[{{name}}](#class-{{name}})</code> {{{summary}}}
{{/each}}

{{#each classes as |klass|}}
{{> class klass=klass}}

{{#unless @last}} {{> hr}} {{/unless}}

{{/each}}


