### <a name='classes'>API</a>

{{! emit a class list }}
Class |  Summary
------| ------------
{{#each classes}}
  <code>[{{name}}](#class-{{name}})</code> | {{#removeCRLF}}{{{summary}}}{{/removeCRLF}}
{{/each}}

{{#each classes as |klass|}}
  {{~> class klass=klass}}
  {{#unless @last}} {{> hr}} {{/unless}}
{{/each}}


