### <a name="class-{{name}}">{{name}}</a>
{{~> badge content='CLASS' }}
<a href="#classes">
  {{~> octicon icon='arrow-up' alt='Back to Class List' ~}}
</a>

{{#render}}{{{description}}}{{/render}}

<table width="100%">
  {{> properties klass=klass}}
  {{> methods klass=klass}}
</table>
{{> events klass=klass}}

