### <a name="class-{{name}}">{{name}}</a> {{> badge content='CLASS' }} [{{> octicon icon='arrow-up' alt='Back to Class List' ~}}](#classes)

{{{description}}}

{{> properties klass=klass}}
{{> methods klass=klass}}
{{> events klass=klass}}
