### <a name="class-{{name}}">{{name}}</a>
{{~> badge content='CLASS' }} [{{> octicon icon='arrow-up' ~}}|back to class list](#classes)

{{{description}}}

{{> properties klass=klass}}
{{> methods klass=klass}}
{{> events klass=klass}}
