{{#if allMethods}}
<tr>
  <td colspan="4"><h4>Methods</h4></td>
</tr>

{{#each allMethods}}
{{> name_args klass=../klass}}
<tr>
  <td colspan="4">
    {{#render}}{{> arguments}}{{/render}}
    {{#render}}{{{description}}}{{/render}}
    {{#render}}{{> returns}}{{/render}}
  </td>
</tr>

{{/each}}
{{/if}}
