{{#if allProperties}}
<tr>
  <td colspan="4"><h4>Properties</h4></td>
</tr>

{{#each allProperties}}
    {{> name_args klass=../klass}}
<tr>
  <td colspan="4">
    {{#render}}{{{description}}}{{/render}}
  </td>
</tr>

{{/each}}
<tr>
  <td colspan="2"></td>
</tr>
{{/if}}
