{{#if allProperties}}
{{> hr}}

<h4>Properties</h4>

{{#each allProperties}}
{{> association klass=../klass}}**{{name}}</code>** {{> badge content=visibility}}

{{{description}}}

{{#unless @last}}
{{> hr}}

{{/unless}}

{{/each}}
{{/if}}
